.date-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(0, 1%, 44%);
}

.input-box {
  font-size: 2rem;
  height: 4rem;
  width: 120px;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding-left: 10%;
  font-weight: 800;
}

.warning-msg {
  color: hsl(0, 100%, 67%);
  font-size: 0.7rem;
}

.warning {
  border: 1px solid hsl(0, 100%, 67%);
}

.missing {
  color: hsl(0, 100%, 67%);
}

input:focus {
  border-color: hsl(259, 100%, 65%);
  outline: none;
}

@media (max-width: 500px) {
  .date {
    font-size: 0.8rem;
  }

  .input-box {
    font-size: 1.5rem;
    height: 3rem;
    width: 80px;
  }
}
